* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

/* header */
.top {
  background-color: #EEEFF1;
  margin: 0 auto;
}

.menu {
  width: 1110px;
  margin: 0 auto;
}

.menu ul {
  margin: 0 auto;
  padding: 20px;
}

.nav_top { 
  display: inline-block; 
  margin-right: 42px ;
}

.nav_top a { 
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.nav_top .active {
  font-weight: 500;
  color: #34547A;
}

/* main */
.main_design {
  background-color: #EEEFF1;
  margin: 0 auto;
}

.design {
  width: 1110px;
  margin: 0 auto;
  padding: 122px 20px 141px;
}

.design h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
}

.design p {
  display: block;
  width: 540px;
  margin-top: 0;
  margin-bottom: 65px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.button {
  width: 225px;
}

.button a {
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #34547A;
}

.main_about {
  margin: 0 auto;
  background-color: #FFFFFF;
}

.about {
  width: 1110px;
  margin: 0 auto;
  padding: 112px 20px 100px;
}

.about_me {
  width: 540px;
  margin: 0 auto;
}

.about h2 {
  margin: 0 0 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.about p {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.main_icons {
  margin: 0 auto;
  background-color: #34547A;
}

.icons {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.icons_list {
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.icons_list li {
  display: inline-block;
  margin: 0 18px;
}

.img {
  width: 50px;
  height: 50px;
}

.icon_text {
  display: inline-block;
  margin: 0 10px;
  color: white;
  vertical-align: top;
}

.icon_text h3 {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.icon_text p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.main_work {
  margin: 0 auto;
  background-color: #EEEFF1;
}

.work {
  width: 1110px;
  margin: 0 auto;
}

.work_text {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 20px 57px;
}

.work_text h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.work_text p {
  width: 540px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.work_video {
  width: 1110px;
  padding-bottom: 100px;
}

.work_video iframe {
  width: 1110px;
  height: 600px;
  border: 0;
} 

/* footer */
.footer {
  margin: 0 auto;
  background-color: #34547A;
}

.name {
  width: 1110px;
  margin: 0 auto;
  padding: 50px 20px;
}

.name h3 {
  margin: 0 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #FFFFFF;
}

.name p {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
}